body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #111;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 2rem;
}

.typing-text {
  color: #00ffe7;
}

.cursor {
  font-weight: bold;
  color: #00ffe7;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
